[submodule "src/utils"]
	path = src/utils
	url = https://github.com/koobh/ptUtils
[submodule "external/DSFD"]
	path = src/DSFD
	url = https://github.com/Tencent/FaceDetection-DSFD.git
[submodule "external/ULFGFD"]
	path = src/ULFGFD
	url = https://github.com/Linzaer/Ultra-Light-Fast-Generic-Face-Detector-1MB
[submodule "src/yolo5-face"]
	path = src/yolo5-face
	url = https://github.com/kooBH/yolov5-face
[submodule "src/AngularPenalty-Softmax-Losses-Pytorch"]
	path = src/AngularPenalty-Softmax-Losses-Pytorch
	url = https://github.com/kooBH/Angular-Penalty-Softmax-Losses-Pytorch
[submodule "src/facenet-pytorch-glint5360k"]
	path = src/facenet-pytorch-glint5360k
	url = https://github.com/kooBH/facenet-pytorch-glint360k
[submodule "src/ETFD"]
	path = src/ETFD
	url = https://github.com/kooBH/ETFD
[submodule "src/EXTD_Pytorch"]
	path = src/EXTD_Pytorch
	url = https://github.com/kooBH/EXTD_Pytorch
[submodule "src/insightface"]
	path = src/insightface
	url = https://github.com/kooBH/insightface.git
[submodule "src/yolo5face"]
	path = src/yolo5face
	url = https://github.com/kooBH/yolov5-face.git
